@import url("https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Pixelify+Sans:wght@400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Protest+Riot&display=swap");
* {
  margin: 0px;
  padding: 0px;
}
$primary-color: #28b465;
$content-background: #88d4ab;
$button: #e72e2e;
$button-active: #ffbe0b;
$menu-container: rgb(210, 227, 188, 0.56);

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  background-color: $primary-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.headline {
  font-family: "Delicious Handrawn", cursive;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
#head {
  z-index: 10;
}
#logo {
  width: 70%;
}
#content {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: $content-background;
  min-height: 500px;
  height: fit-content;
  border-radius: 15px;
  width: 80%;
  max-width: 650px;
  margin-top: 40px;
  transition: opacity 0.3s ease-in-out;
}
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.button {
  width: 95px;
  height: 45px;
  border-radius: 17px;
  border: 1px solid $button;
  background-color: $button;
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  font-weight: 600;
  box-sizing: content-box;
  cursor: pointer;
}
.active {
  border: 2px solid $button-active;
  color: $button-active;
  width: 110px;
  transition: width 0.3s ease, height 0.3s ease, border 0.3s ease,
    color 0.5s ease;

  height: 55px;
}

.leaf {
  position: absolute;
  width: 200px;
}

@keyframes slideAndRotateInFromLeft1 {
  from {
    transform: translateX(-100%) rotate(0deg);
    opacity: 0;
  }
  to {
    transform: translateX(0) rotate(137deg);
    opacity: 1;
  }
}

#leaf-1 {
  animation: slideAndRotateInFromLeft1 1.5s ease-in forwards;
  top: -30px;
  left: -40px;
}

@keyframes slideAndRotateInFromRight2 {
  from {
    transform: translateX(100%) rotate(0deg);
    opacity: 0;
  }
  to {
    transform: translateX(0) rotate(224deg);
    opacity: 1;
  }
}

#leaf-2 {
  animation: slideAndRotateInFromRight2 1.5s ease-in forwards;
  top: -31px;
  right: -39px;
}
@keyframes slideAndRotateInFromLeft3 {
  from {
    transform: translateX(-100%) rotate(0deg);
    opacity: 0;
  }
  to {
    transform: translateX(0) rotate(36deg);
    opacity: 1;
  }
}

#leaf-3 {
  animation: slideAndRotateInFromLeft3 1.5s ease-in forwards;
  bottom: -22px;
  left: -48px;
}

@keyframes slideAndRotateInFromRight4 {
  from {
    transform: translateX(100%) rotate(0deg);
    opacity: 0;
  }
  to {
    transform: translateX(0) rotate(312deg);
    opacity: 1;
  }
}

#leaf-4 {
  animation: slideAndRotateInFromRight4 1.5s ease-in forwards;
  bottom: -22px;
  right: -46px;
}

.text {
  font-size: 1.5rem;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  padding: 10px;
}

.pizza {
  width: 80%;
}
.menu-container {
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 80%;
  border: 1px solid black;
  border-radius: 5px;
  background-color: $menu-container;
}
.menu-name {
  font-size: 1.9rem;
  font-family: "Protest Riot", sans-serif;
}
.menu-text {
  padding: 5px;
  font-family: "Protest Riot", sans-serif;
  font-size: 1.1rem;
  font-weight: 500;
}
.map {
  min-width: 240px;
  width: 80%;
  padding-top: 50px;
}
.about-photo {
  width: 25px;
}
.number {
  display: flex;
  gap: 10px;
  font-size: 1rem;
  font-family: "Lato", sans-serif;
}
.address {
  display: flex;
  gap: 10px;
  font-size: 1rem;
  font-family: "Lato", sans-serif;
  text-wrap: wrap;
}
.about-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 5px;
}
.info {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-top: 70px;
}
.fade-in {
  animation: fadeInAnimation 0.5s ease-in forwards;
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.inner-fade-in {
  opacity: 0;
  animation: innerFadeInAnimation 0.5s ease-in forwards;
  animation-delay: 0.5s; /* Delay to wait for the main content fade-in to complete */
}
/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
element {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@keyframes innerFadeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media screen and (min-width: 1440px) {
  .leaf {
    position: absolute;
    width: 300px;
  }
}
