@import url("https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Pixelify+Sans:wght@400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Protest+Riot&display=swap");
* {
  margin: 0px;
  padding: 0px;
}
$primary-color: #28b465;
$content-background: #88d4ab;
$button: #e72e2e;
$button-active: #ffbe0b;
$menu-container: rgb(210, 227, 188, 0.56);

body {
  height: 100vh;
  background-color: $primary-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.headline {
  font-family: "Delicious Handrawn", cursive;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
#head {
  z-index: 10;
}
#logo {
  width: 70%;
}
#content {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: $content-background;
  height: 500px;
  flex-grow: 1;
  border-radius: 15px;
  width: 80%;
  margin-top: 40px;
}
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.button {
  width: 95px;
  height: 45px;
  border-radius: 17px;
  border: 1px solid $button;
  background-color: $button;
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  font-weight: 600;
  box-sizing: content-box;
}
.active {
  border: 2px solid $button-active;
  color: $button-active;
}
.leaf {
  position: absolute;

  width: 200px;
}
#leaf-1 {
  top: -30px;
  left: -40px; /* Adjust this value as needed */
  transform: rotate(137deg);
}
#leaf-2 {
  top: -31px;
  right: -39px; /* Adjust this value as needed */
  transform: rotate(224deg);
}
#leaf-3 {
  bottom: -22px;
  left: -48px;
  transform: rotate(36deg);
}
#leaf-4 {
  bottom: -22px;
  right: -46px;
  transform: rotate(312deg);
}
.text {
  font-size: 1.5rem;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  padding: 10px;
}

.pizza {
  width: 80%;
}
.menu-container {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 80%;
  border: 1px solid black;
  border-radius: 5px;
  background-color: $menu-container;
}
.menu-name {
  font-size: 1.9rem;
  font-family: "Protest Riot", sans-serif;
}
.menu-text {
  padding: 5px;
  font-family: "Protest Riot", sans-serif;
  font-size: 1.1rem;
  font-weight: 500;
}
